In [14]:
import pandas as pd
from pathlib import Path

In [16]:
california_path = Path.cwd().parent / "data" / "cleaned" / "california.csv"
counties_path = Path.cwd().parent / "data" / "cleaned" / "counties.csv"

In [18]:
california = pd.read_csv(california_path)
counties = pd.read_csv(counties_path)

In [20]:
california_new = california.copy()
california_new["STATE"] = california["STATE"].apply(lambda x: f"'{x}'")
california_new["DEATHS"] = california["DEATHS"].str.replace(",", "").astype(int)
california_new.head()

   YEAR STATE  RATE  DEATHS
0  2022  'CA'  25.0   11618
1  2021  'CA'  25.5   11440
2  2020  'CA'  25.4   11642
3  2019  'CA'  21.8    9854
4  2018  'CA'  21.4    9506

In [22]:
counties.head()
counties_new = counties.copy()
counties_new['County'] = counties['County'].apply(lambda x: f"'{x}'")
counties_new['PQIDescription'] = counties['PQIDescription'].apply(lambda x: f"'{x}'")
counties_new['Population_ICD10'] = counties['Population_ICD10'].str.replace(',', '').astype(int)
counties_new.head()

,Year,County,PQI,PQIDescription,Count_ICD10,Population_ICD10,ObsRate_ICD10
0,2016,'Alameda',1,'Diabetes Short-term Complications',716,1304840,54.9
1,2017,'Alameda',1,'Diabetes Short-term Complications',618,1314687,47.0
2,2018,'Alameda',1,'Diabetes Short-term Complications',651,1323933,49.2
3,2019,'Alameda',1,'Diabetes Short-term Complications',637,1329186,47.9
4,2020,'Alameda',1,'Diabetes Short-term Complications',634,1344023,47.2

In [24]:
def df_to_sql(df, table_name):
    sql_statements = []
    for i, row in df.iterrows():
        values = ", ".join(str(x) for x in row)  # Convert row to string values
        sql_statements.append(f"INSERT INTO {table_name} VALUES ({values});")
    return "\n".join(sql_statements)

with open("data_insert.sql", "w") as f:
    f.write(df_to_sql(california_new, "california") + "\n")
    f.write(df_to_sql(counties_new, "counties"))

print("SQL file generated: data_insert.sql")

SQL file generated: data_insert.sql